DATA LOADING

In [14]:
import zipfile
import os
import pandas as pd

sentiment_data_path = "/mnt/DATA/EE22B013/Btech_project/Sentiment_Analysis/training.1600000.processed.noemoticon.csv.zip"

with zipfile.ZipFile(sentiment_data_path, 'r') as z:

    with z.open('training.1600000.processed.noemoticon.csv') as f:
        data= pd.read_csv(f, encoding='latin-1', header=None)
        df= data.copy()
        df.columns = ['target', 'ids', 'date', 'flag', 'user', 'text']
        df[['target', 'text']]
        df['target'] = df['target'].map({0: 0, 4: 1})  # Map 0 to negative (0) and 4 to positive (1)
        print(df)

         target         ids                          date      flag  \
0             0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY
1             0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY
2             0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
3             0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
4             0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
...         ...         ...                           ...       ...
1599995       1  2193601966  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599996       1  2193601969  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599997       1  2193601991  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599998       1  2193602064  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599999       1  2193602129  Tue Jun 16 08:40:50 PDT 2009  NO_QUERY

                    user                                               text
0        _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          scotthamilton  is upset that he can't update his Facebook by ...
2               mattycus  @Kenichan I dived many times for the ball. Man...
3                ElleCTF    my whole body feels itchy and like its on fire
4                 Karoli  @nationwideclass no, it's not behaving at all....
...                  ...                                                ...
1599995  AmandaMarie1028  Just woke up. Having no school is the best fee...
1599996      TheWDBoards  TheWDB.com - Very cool to hear old Walt interv...
1599997           bpbabe  Are you ready for your MoJo Makeover? Ask me f...
1599998     tinydiamondz  Happy 38th Birthday to my boo of alll time!!! ...
1599999   RyanTrevMorris  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 6 columns]

In [10]:
original_data=data.copy()
original_data

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

DATA CLEANING
#removing @username and any word less than 3 letters, links punctuation,exclaimation marks

In [19]:
import re
#removing @username and any word less than 3 letters, links punctuation,exclaimation marks
#df[['text','target']]

def clean_test(text):
    text=re.sub(r'@\w+','',text) #remove @username  #w+ small w means a-zA-Z0-9_ and capital W means opp to this
    text=re.sub(r'http\S+','',text) #remove links #\S+ means non space characters and small s means space characters
    text=re.sub(r'[^A-Za-z\s]','',text) #remove punctuation and numbers #^ means not
    text=re.sub(r'\s+',' ',text) #remove extra spaces
    text=re.sub(r'\b\w{1,3}\b','',text) #remove words with 1 or 2 letters #\b means word boundary
    text=text.strip() #remove leading and trailing spaces
    text=text.lower() #convert to lowercase 
    return text

df['cleaned_text']=df['text'].apply(clean_test)
df[['text','cleaned_text','target']]

,text,cleaned_text,target
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",awww thats bummer shoulda david carr third,0
1,is upset that he can't update his Facebook by ...,upset that cant update facebook texting m...,0
2,@Kenichan I dived many times for the ball. Man...,dived many times ball managed save rest ...,0
3,my whole body feels itchy and like its on fire,whole body feels itchy like fire,0
4,"@nationwideclass no, it's not behaving at all....",behaving here because cant over there,0
...,...,...,...
1599995,Just woke up. Having no school is the best fee...,just woke having school best feeling ever,1
1599996,TheWDB.com - Very cool to hear old Walt interv...,thewdbcom very cool hear walt interviews,1
1599997,Are you ready for your MoJo Makeover? Ask me f...,ready your mojo makeover details,1
1599998,Happy 38th Birthday to my boo of alll time!!! ...,happy birthday alll time tupac amaru shakur,1
1599999,happy #charitytuesday @theNSPCC @SparksCharity...,happy charitytuesday,1

In [ ]:
df.isnull().sum() #counting the n8mber of empty white rows

target          0
ids             0
date            0
flag            0
user            0
text            0
cleaned_text    0
dtype: int64

In [21]:
#to know the distribution of target variable
df['target'].value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

In [27]:
import nltk
from nltk.corpus import stopwords
from nltk import PorterStemmer
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /mnt/DATA/EE22B013/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [28]:
print(stopwords.words('english'))

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

In [29]:
import nltk
from nltk import PorterStemmer

ps=PorterStemmer() # ps is a variable to load the instance of the class PorterStemmer

def stemming(text):
    stemmed_text=text.split() #splitting the text into words
    stemmed_text=[ps.stem(word) for word in stemmed_text if not word in stopwords.words('english')] #stemming the words and removing stopwords
    stemmed_text=' '.join(stemmed_text) #joining the words back into a sentence
    return stemmed_text 

df['stemmed_text']=df['cleaned_text'].apply(stemming)
df[['target','cleaned_text','stemmed_text']]

,target,cleaned_text,stemmed_text
0,0,awww thats bummer shoulda david carr third,awww that bummer shoulda david carr third
1,0,upset that cant update facebook texting m...,upset cant updat facebook text might result sc...
2,0,dived many times ball managed save rest ...,dive mani time ball manag save rest bound
3,0,whole body feels itchy like fire,whole bodi feel itchi like fire
4,0,behaving here because cant over there,behav cant
...,...,...,...
1599995,1,just woke having school best feeling ever,woke school best feel ever
1599996,1,thewdbcom very cool hear walt interviews,thewdbcom cool hear walt interview
1599997,1,ready your mojo makeover details,readi mojo makeov detail
1599998,1,happy birthday alll time tupac amaru shakur,happi birthday alll time tupac amaru shakur
1599999,1,happy charitytuesday,happi charitytuesday

In [30]:
X=df['stemmed_text'].values
y=df['target'].values

In [31]:
print(X)

['awww that bummer shoulda david carr third'
 'upset cant updat facebook text might result school today also blah'
 'dive mani time ball manag save rest bound' ...
 'readi mojo makeov detail' 'happi birthday alll time tupac amaru shakur'
 'happi charitytuesday']

In [32]:
print(y)

[0 0 0 ... 1 1 1]

In [34]:
from sklearn.model_selection import train_test_split    
from sklearn.feature_extraction.text import TfidfVectorizer
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=41)

print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(1280000,) (320000,) (1280000,) (320000,)

In [ ]:
vectorizer=TfidfVectorizer() 

X_train=vectorizer.fit_transform(X_train) #fit the vectorizer to the training data and transform the training data into a matrix of tf-idf features
X_test=vectorizer.transform(X_test) #transform the test data into a matrix of tf-idf features     

#"love" appears once in this tweet â†’ TF = 1/4 = 0.25

#"love" appears in 20,000 tweets â†’ IDF = log(1,000,000 / (1 + 20,000)) â‰ˆ 3.91

#Larger values â†’ word is important in this document but rare in others.

#Smaller values â†’ word is common across many tweets â†’ less important.

In [38]:
print(X_train,X_test)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 7190212 stored elements and shape (1280000, 306516)>
  Coords	Values
  (0, 261073)	0.21201185215118915
  (0, 166919)	0.22688426567323733
  (0, 83726)	0.2121679855037442
  (0, 235281)	0.535236529930687
  (0, 18649)	0.28378366158278223
  (0, 63054)	0.4900619520434959
  (0, 5355)	0.3439775908672276
  (0, 99016)	0.18521217763604095
  (0, 135013)	0.31426595473716035
  (1, 163141)	1.0
  (2, 83726)	0.21307236766998405
  (2, 246443)	0.25326490739803414
  (2, 242802)	0.33493791285790603
  (2, 251431)	0.5198366707548401
  (2, 62055)	0.5630132479722295
  (2, 279876)	0.2873200913264844
  (2, 173032)	0.26030346911915975
  (2, 263487)	0.2018634062367877
  (3, 255185)	0.5134548827846191
  (3, 8285)	0.5316629626948683
  (3, 32627)	0.6735715087822137
  (4, 144141)	0.2663196282203859
  (4, 241899)	0.5244216591192001
  (4, 304406)	0.3199221951019631
  (4, 187217)	0.3170396799810324
  :	:
  (1279996, 304164)	0.3252322147884428
  (1279996, 107611)	0.4670147063602622
  (1279996, 149000)	0.418352996118799
  (1279996, 89462)	0.48830286657757976
  (1279997, 187485)	0.48251137204584865
  (1279997, 10961)	0.35765421935408914
  (1279997, 35309)	0.5771283599489091
  (1279997, 197180)	0.5533435563619877
  (1279998, 166919)	0.2119385512966003
  (1279998, 263487)	0.18776554446015745
  (1279998, 147449)	0.17861221827729676
  (1279998, 106856)	0.22638655886334524
  (1279998, 115285)	0.20414819507254864
  (1279998, 103836)	0.25502636267942497
  (1279998, 151664)	0.20542924130202345
  (1279998, 234400)	0.23855714874027167
  (1279998, 82930)	0.33540664550870375
  (1279998, 299925)	0.3385969985768967
  (1279998, 268152)	0.6353753137550916
  (1279999, 146482)	0.21138752457346438
  (1279999, 304164)	0.2415240687173821
  (1279999, 235540)	0.32009122146359814
  (1279999, 101986)	0.4347641350223616
  (1279999, 15569)	0.4400516955548585
  (1279999, 44031)	0.6417614048572864 <Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1745683 stored elements and shape (320000, 306516)>
  Coords	Values
  (0, 28277)	0.7065205644950192
  (0, 49615)	0.3496428429070573
  (0, 69961)	0.3567636029691552
  (0, 98072)	0.23705232877256777
  (0, 148979)	0.34762605450712325
  (0, 292758)	0.27250802850061207
  (1, 68032)	0.3747262943492826
  (1, 141006)	0.5133691663932918
  (1, 277996)	0.7720312838997597
  (2, 303263)	1.0
  (3, 29721)	0.2532282542697191
  (3, 55549)	0.2400313099669326
  (3, 85845)	0.4160005678356092
  (3, 105001)	0.32245001589709704
  (3, 106856)	0.34995774600167406
  (3, 107695)	0.18076303455202214
  (3, 108954)	0.23075217590911354
  (3, 183387)	0.2834586049650664
  (3, 191693)	0.22462199050054515
  (3, 217923)	0.37428765430705563
  (3, 248077)	0.2078660888209821
  (3, 269736)	0.28059631600590235
  (4, 31592)	0.32115670386259265
  (4, 83726)	0.25160538649451636
  (4, 92613)	0.35907051545234525
  :	:
  (319992, 252605)	0.3198421978607585
  (319993, 33724)	0.7367474692469561
  (319993, 147449)	0.2748361965431285
  (319993, 194368)	0.512209519726576
  (319993, 220288)	0.345412274723095
  (319994, 258777)	1.0
  (319995, 51682)	0.4270538466282913
  (319995, 91963)	0.48178039209269785
  (319995, 145399)	0.6734974346111609
  (319995, 233209)	0.363199492630663
  (319996, 27664)	0.5126239498728676
  (319996, 64721)	0.44581216830973475
  (319996, 144445)	0.31026464246190094
  (319996, 215730)	0.2444006053091171
  (319996, 219982)	0.4847636785931374
  (319996, 286258)	0.3840267806847433
  (319997, 87920)	0.9569968635933502
  (319997, 168199)	0.2900982645113384
  (319998, 218886)	1.0
  (319999, 97324)	0.27825753740137743
  (319999, 99909)	0.5316981455812543
  (319999, 143046)	0.4264980433926284
  (319999, 215998)	0.325394113706921
  (319999, 227146)	0.35948088430766995
  (319999, 229403)	0.47208199333304257