DATA LOADING

In [14]:
import zipfile
import os
import pandas as pd

sentiment_data_path = "/mnt/DATA/EE22B013/Btech_project/Sentiment_Analysis/training.1600000.processed.noemoticon.csv.zip"

with zipfile.ZipFile(sentiment_data_path, 'r') as z:

    with z.open('training.1600000.processed.noemoticon.csv') as f:
        data= pd.read_csv(f, encoding='latin-1', header=None)
        df= data.copy()
        df.columns = ['target', 'ids', 'date', 'flag', 'user', 'text']
        df[['target', 'text']]
        df['target'] = df['target'].map({0: 0, 4: 1})  # Map 0 to negative (0) and 4 to positive (1)
        print(df)

         target         ids                          date      flag  \
0             0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY
1             0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY
2             0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
3             0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
4             0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
...         ...         ...                           ...       ...
1599995       1  2193601966  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599996       1  2193601969  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599997       1  2193601991  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599998       1  2193602064  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599999       1  2193602129  Tue Jun 16 08:40:50 PDT 2009  NO_QUERY

                    user                                               text
0        _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          scotthamilton  is upset that he can't update his Facebook by ...
2               mattycus  @Kenichan I dived many times for the ball. Man...
3                ElleCTF    my whole body feels itchy and like its on fire
4                 Karoli  @nationwideclass no, it's not behaving at all....
...                  ...                                                ...
1599995  AmandaMarie1028  Just woke up. Having no school is the best fee...
1599996      TheWDBoards  TheWDB.com - Very cool to hear old Walt interv...
1599997           bpbabe  Are you ready for your MoJo Makeover? Ask me f...
1599998     tinydiamondz  Happy 38th Birthday to my boo of alll time!!! ...
1599999   RyanTrevMorris  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 6 columns]

In [10]:
original_data=data.copy()
original_data

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

DATA CLEANING
#removing @username and any word less than 3 letters, links punctuation,exclaimation marks

In [ ]:
import re
#removing @username and any word less than 3 letters, links punctuation,exclaimation marks
#df[['text','target']]

def clean_test(text):
    text=re.sub(r'@\w+','',text) #remove @username  #w+ small w means a-zA-Z0-9_ and capital W means opp to this
    text=re.sub(r'http\S+','',text) #remove links #\S+ means non space characters and small s means space characters
    return text

df['cleaned_text']=df['text'].apply(clean_test)
df[['text','cleaned_text','target']]

,text,cleaned_text,target
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","http://twitpic.com/2y1zl - Awww, that's a bum...",0
1,is upset that he can't update his Facebook by ...,is upset that he can't update his Facebook by ...,0
2,@Kenichan I dived many times for the ball. Man...,I dived many times for the ball. Managed to s...,0
3,my whole body feels itchy and like its on fire,my whole body feels itchy and like its on fire,0
4,"@nationwideclass no, it's not behaving at all....","no, it's not behaving at all. i'm mad. why am...",0
...,...,...,...
1599995,Just woke up. Having no school is the best fee...,Just woke up. Having no school is the best fee...,1
1599996,TheWDB.com - Very cool to hear old Walt interv...,TheWDB.com - Very cool to hear old Walt interv...,1
1599997,Are you ready for your MoJo Makeover? Ask me f...,Are you ready for your MoJo Makeover? Ask me f...,1
1599998,Happy 38th Birthday to my boo of alll time!!! ...,Happy 38th Birthday to my boo of alll time!!! ...,1
1599999,happy #charitytuesday @theNSPCC @SparksCharity...,happy #charitytuesday,1